body {
    margin: 2% 20%;
}

header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

tr {
    margin-bottom: 8px;
}

th, td {
    text-align: center;
}

.chartTable {
    width: 100%;
    
}

.songImg {
    width: 44px;
}

.boardSection {
    display: inline-block;
    width: 50%;
    padding: 16px;
}

.cube {
    width: 100%;
}

.sideBoard {
    display: inline-block;
    width: 50%;
    padding: 16px;
    background-color: dimgray;
}

.pageInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.songButton {
    display: flex;
    justify-content: right;
    margin-bottom: 16px;
}

.addSongButton {
    background-color: #ffffff;
    border: 1px solid #000000;
}

.songInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
