body {
    margin: 2% 20%;
}

header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

tr {
    margin-bottom: 8px;
}

th, td {
    text-align: center;
}

.chartTable {
    width: 100%;
    
}

.songImg {
    width: 44px;
}

.pageInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}